
<%= render 'form' %>

<%= link_to 'Back', nodes_path %> |
<a href="#" id="btn_change_branch">Change Parent</a> &#x1F474; |
<%= link_to 'New Child', new_node_path(@node) %> &#x1F476; | 
<%= link_to 'Delete', @node, method: :delete, data: { confirm: 'Are you sure?' } %>


<script type="text/javascript">
	$(function() {
	    $("#select_change_branch").hide();
	    $("#btn_change_branch").click(function(event) {
	        event.preventDefault();
	        $("#select_change_branch").toggle();
	    });
	});
</script>