<p id="notice"><%= notice %></p>

<h1>Listing Trees</h1>


<ul class="tree">

      <% previous_level = 0 %>
      <% current_user.nodes.walk_tree do |node, level| %>

        <% if level < previous_level %>
          <!-- Up a level -->
          <% (previous_level-level).times do %>
            </li></ul>
          <% end %>
        <% end %>

        <li> 
        <span><%= link_to "#{node.title}", node_path(node) %></span>

        <% if node.children.any? %>
          <ul>
        <% else %>
          </li>
        <% end %>

        <% previous_level = level %>
      <% end %>

      <% previous_level.times do %>
        </li></ul>
      <% end %>

</ul>
<br>
<%= link_to 'New Node', new_node_path %>

